{
  "presets": [
    "es2015",
    "next/babel"
  ],
  "plugins": [
    ["transform-define"],
    [
     "module-resolver",
     {
      "root": ["./"],
      "alias": {
        "@components": "./app/components",
        "@containers": "./app/containers",
        "@identity": "./app/identity",
        "@lib": "./app/lib",
        "@views": "./app/views"
      },
     },
    ],
  ]
}
