@font-face {
  font-family: 'Graphik';
  src: url('/static/fonts/Graphik-Semibold-Web.woff');
  src: url('/static/fonts/Graphik-Semibold-Web.eot');
  src: url('/static/fonts/Graphik-Semibold-Web.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/Graphik-Semibold-Web.woff2') format('woff2'),
       url('/static/fonts/Graphik-Semibold-Web.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal
}

@font-face {
  font-family: 'Graphik';
  src: url('/static/fonts/Graphik-Medium-Web.woff');
  src: url('/static/fonts/Graphik-Medium-Web.eot');
  src: url('/static/fonts/Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/Graphik-Medium-Web.woff2') format('woff2'),
       url('/static/fonts/Graphik-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal
}

@font-face {
  font-family: 'Graphik';
  src: url('/static/fonts/Graphik-Regular-Web.woff');
  src: url('/static/fonts/Graphik-Regular-Web.eot');
  src: url('/static/fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/Graphik-Regular-Web.woff2') format('woff2'),
       url('/static/fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal
}

@font-face {
  font-family: 'Graphik';
  src: url('/static/fonts/Graphik-Light-Web.woff');
  src: url('/static/fonts/Graphik-Light-Web.eot');
  src: url('/static/fonts/Graphik-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/Graphik-Light-Web.woff2') format('woff2'),
       url('/static/fonts/Graphik-Light-Web.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Graphik', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  height: auto;
  width: 100%;
}

pre {
  width: 45rem;
  margin-bottom: 2.06rem;
}

code {
  color: black;
}

.hljs, pre code {
  font-family: Menlo,Monaco,Consolas,monospace;
  display: block;
  line-height: 1.32;
  overflow-x: auto;
  padding: 20px;
  color: #1d252d;
  background: #f3f7fa;
}

.hljs-comment,
.hljs-quote {
  color: #bbc5cf;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #9362d3;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #d50032;
}

.hljs-literal {
  color: #00b5e2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #03a39c;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #ea6d27;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #ff8038;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #0098be;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

@media (max-width: 768px) {
  pre {
    width: 100%;
  }
}
